@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .span-style {
      @apply absolute top-0 left-0 w-full h-full origin-center [transform-style:preserve-3d] lg:[transform:rotateY(calc(var(--i)*60deg))_translateZ(350px)] md:[transform:rotateY(calc(var(--i)*60deg))_translateZ(265px)] sm:[transform:rotateY(calc(var(--i)*60deg))_translateZ(216px)] [transform:rotateY(calc(var(--i)*60deg))_translateZ(120px)];
    }
    .img-style {
      @apply absolute top-0 left-0 w-full h-full rounded-sm  [transition:2s] sm:hover:-translate-y-[15px] hover:-translate-y-[15px] hover:scale-[1.13];
    }
  }

  @layer utilities {
    .custom-rounded {
      border-radius: 0 40px;
    }
  }
  @layer utilities {
    .after-line {
      position: relative;
    }
    .after-line::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 1px;
      width: 0;
      background-color: #fff;
      transition: width 0.3s ease, left 0.3s ease;
    }
    .after-line:hover::after {
      width: 100%;
      left: 0;
    }
  }