<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/src/output.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>2D-Lézervágó gépek</title>
  </head>
  <body
    class="body font-roboto bg-[url('../assets/bg-1.svg')] box-border w-full md:overflow-auto"
  >
    <header>
      <div
        class="overlay fixed hidden md:hidden w-full h-full top-0 left-0 right-0 bottom-0 bg-slate-400 opacity-50 z-100 cursor-pointer"
      ></div>
      <nav class="flex h-24 items-center z-100 bg-white text-primary">
        <div class="w-2/4 m-auto">
          <a href="../../index.html">
            <img src="../../assets/logo.png" alt="" class="min-w-44 h-16" />
          </a>
        </div>
        <div class="z-100 bg-none w-full">
          <ul class="text-xl justify-evenly hidden md:flex w-full">
            <a href="../../index.html">
              <div
                class="relative p-3 text-black hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <span>Főoldal</span>
              </div>
            </a>
            <a href="./components/termekek.html">
              <div
                class="z-20 group relative p-3 text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <a href="../termekek.html">
                  <span>Termékek</span>
                </a>
                <div
                  class="absolute left-0 w-64 mt-3 origin-top-left bg-white divide-y divide-gray-100 rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition duration-300"
                >
                  <div class="py-1">
                    <a
                      href="../gepcsoportok/hajlitogepek.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Élhajlító gépek</a
                    >
                    <a
                      href="../gepcsoportok/lemezvago-ollok.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Lemezvágó ollók</a
                    >
                    <a
                      href="../gepcsoportok/2D-lezervagogepek.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >2D-Lézervágógépek</a
                    >
                    <a
                      href="../gepcsoportok/3D-lezervagogepek.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >3D-Lézervágógépek</a
                    >
                    <a
                      href="../gepcsoportok/lezersugaras-csovagogepek.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Lézersugaras csövágó gépek</a
                    >
                    <a
                      href="../gepcsoportok/lezerhegeszto-gepek.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Lézerhegesztő gépek</a
                    >
                  </div>
                </div>
              </div>
            </a>
            <div
              class="z-20 group relative p-3 text-black hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
            >
              <a href="../alkatreszek.html">
                <span>Alkatrészek</span>
              </a>
              <div
                class="absolute left-0 w-64 mt-3 origin-top-left bg-white divide-y divide-gray-100 rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition duration-300"
              >
                <div class="py-1">
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                    >Lézer kopó alkatrészek</a
                  >
                </div>
              </div>
            </div>

            <div
              class="relative p-3 text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
            >
              <a href="../ajanlatkeres.html">
                <span>Ajánlatkérés</span>
              </a>
            </div>
            <div
              class="contactButton relative p-3 text-black hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
            >
              <span>Kapcsolat</span>
            </div>
          </ul>
        </div>
        <div class="flex flex-col md:hidden">
          <div class="flex flex-col justify-center">
            <div class="relative py-3 sm:max-w-xl mx-auto">
              <nav class="nav" x-data="{ open: false }">
                <button
                  id="menuButton"
                  class="tham w-14 h-14 relative focus:outline-none bg-secondary rounded hover:bg-yellow-500"
                >
                  <div
                    class="block w-5 absolute left-6 top-1/2 transform -translate-x-1/2 -translate-y-1/2"
                  >
                    <span
                      class="block absolute h-0.5 w-7 text-white bg-current"
                      :class="{'rotate-0': open,' -translate-y-1.5': !open }"
                    ></span>
                    <span
                      class="block absolute h-0.5 w-5 text-white bg-current"
                      :class="{'opacity-0': open } "
                    ></span>
                    <span
                      class="block absolute h-0.5 w-7 text-white bg-current"
                      :class="{'-rotate-0': open, ' translate-y-1.5': !open}"
                    ></span>
                  </div>
                </button>
              </nav>
            </div>
          </div>
          <div
            class="thamnav z-20 hidden flex-col bg-secondary shadow-2xl w-80 h-96 text-center fixed left-1/2 transform -translate-x-1/2 top-1/2 -translate-y-1/2"
          >
            <ul class="flex flex-col h-full justify-evenly md:flex-row">
              <a href="../../index.html">
                <div
                  class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
                >
                  <span>Főoldal</span>
                </div>
              </a>
              <a href="./components/termekek.html">
                <div
                  class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
                >
                  <a href="../termekek.html">
                    <span>Termékek</span>
                  </a>
                </div>
              </a>
              <div
                class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <a href="../alkatreszek.html">
                  <span>Alkatrészek</span>
                </a>
              </div>

              <div
                class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <a href="../ajanlatkeres.html">
                  <span>Ajánlatkérés</span>
                </a>
              </div>
              <div
                class="contactButton2 relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <span>Kapcsolat</span>
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section>
      <ul
        class="ml-6 gap-4 items-center font-medium text-sm flex dark:text-white"
      >
        <li>
          <a href="../termekek.html" class="text-secondary"> Termékek </a>
        </li>

        <li
          class="h-6 border-r border-gray-300 -skew-x-12 dark:border-gray-500"
        ></li>

        <li>
          <a href="" class="text-orange-200"> 2D-Lézervágógépek </a>
        </li>
      </ul>
    </section>
    <div class="container mx-auto px-4 pb-8">
      <div class="flex justify-center">
        <a href="../termekek.html">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-8 text-white cursor-pointer hover:text-gray-200"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"
            />
          </svg>
        </a>
      </div>

      <h1 class="text-white text-center font-bold text-2xl md:text-3xl my-6">
        2D-Lézervágó gépek
      </h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        <!-- Service Block 1 -->
        <a
          href="../gepek/boltSeries.html"
          class="relative group block bg-cover bg-center aspect-square rounded-lg overflow-hidden shadow-lg"
          style="background-image: url('../../assets/Penta/bolt-index.png')"
        >
          <div
            class="absolute inset-0 bg-black bg-opacity-50 group-hover:bg-opacity-75 transition duration-300 ease-in-out"
          ></div>
          <div
            class="absolute inset-0 flex flex-col items-center justify-center p-4"
          >
            <h3
              class="text-white text-center text-2xl font-bold mb-2 transform group-hover:-translate-y-2 transition duration-300 ease-in-out"
            >
              BOLT Series
            </h3>
            <p
              class="text-white text-center opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out"
            >
              10-60 kW
            </p>
          </div>
        </a>
        <!-- Service Block 2 -->
        <a
          href="../gepek/swingSeries.html"
          class="relative group block bg-cover bg-center aspect-square rounded-lg overflow-hidden shadow-lg"
          style="background-image: url('../../assets/Penta/swing-index.png')"
        >
          <div
            class="absolute inset-0 bg-black bg-opacity-50 group-hover:bg-opacity-75 transition duration-300 ease-in-out"
          ></div>
          <div
            class="absolute inset-0 flex flex-col items-center justify-center p-4"
          >
            <h3
              class="text-white text-2xl font-bold mb-2 transform group-hover:-translate-y-2 transition duration-300 ease-in-out"
            >
              SWING Series
            </h3>
            <p
              class="text-white text-center opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out"
            >
              1-12 kW
            </p>
          </div>
        </a>
        <!-- Service Block 3 -->
        <a
          href="../gepek/awingSeries.html"
          class="relative group block bg-cover bg-center aspect-square rounded-lg overflow-hidden shadow-lg"
          style="background-image: url('../../assets/Penta/awing-index.png')"
        >
          <div
            class="absolute inset-0 bg-black bg-opacity-50 group-hover:bg-opacity-75 transition duration-300 ease-in-out"
          ></div>
          <div
            class="absolute inset-0 flex flex-col items-center justify-center p-4"
          >
            <h3
              class="text-white text-center text-2xl font-bold mb-2 transform group-hover:-translate-y-2 transition duration-300 ease-in-out"
            >
              AWING Series
            </h3>
            <p
              class="text-white text-center opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out"
            >
              1-20 kW
            </p>
          </div>
        </a>
        <!-- Service Block 4 -->
        <a
          href="../gepek/bullSeries.html"
          class="relative group block bg-cover bg-center aspect-square rounded-lg overflow-hidden shadow-lg"
          style="background-image: url('../../assets/Penta/bull-index.png')"
        >
          <div
            class="absolute inset-0 bg-black bg-opacity-50 group-hover:bg-opacity-75 transition duration-300 ease-in-out"
          ></div>
          <div
            class="absolute inset-0 flex flex-col items-center justify-center p-4"
          >
            <h3
              class="text-white text-2xl font-bold mb-2 transform group-hover:-translate-y-2 transition duration-300 ease-in-out"
            >
              BULL Series
            </h3>
            <p
              class="text-white text-center opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out"
            >
              2-60 kW
            </p>
          </div>
        </a>
      </div>
    </div>
    <footer>
      <section class="text-white pt-16 pb-12">
        <h3 class="contactPage text-center text-3xl">Gránit-Mill Kft.</h3>
        <div
          id="contact"
          class="w-11/12 m-auto grid grid-cols-1 gap-4 sm:grid-cols-3 text-center mt-8"
        >
          <div class="flex flex-col w-full">
            <div class="w-full flex justify-center mb-6">
              <img src="../../assets/address.svg" class="w-[70px]" alt="" />
            </div>
            <h2 class="text-2xl mb-3">Cím:</h2>
            <div class="h-full flex justify-center items-center">
              <h3 class="text-xl text-center">
                6600 Szentes, <br />
                Téglagyári út 1.
              </h3>
            </div>
          </div>
          <div class="flex flex-col w-full">
            <div class="w-full flex justify-center mb-6">
              <img src="../../assets/cellphone.svg" class="w-[70px]" alt="" />
            </div>
            <h2 class="text-2xl mb-3">Tel:</h2>

            <h3 class="text-xl mb-2">Mucsi Attila</h3>
            <h3 class="text-l mb-2">
              <a href="tel:+36301234567">+36 30 123-4567</a>
            </h3>
            <h3 class="text-xl mb-2">Koncz Edvárd</h3>
            <h3 class="text-l">
              <a href="tel:+36301234567">+36 30 123-4567</a>
            </h3>
          </div>
          <div class="flex flex-col w-full">
            <div class="w-full flex justify-center mb-6">
              <img src="../../assets/email.svg" class="w-[70px]" alt="" />
            </div>
            <h2 class="text-2xl mb-3">E-mail:</h2>
            <div class="h-full flex justify-center items-center">
              <h3 class="text-l text-center">
                <a href="mailto:info@granit-mill.hu">info@granit-mill.hu</a>
              </h3>
            </div>
          </div>
        </div>
      </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <script src="../../scripts/main.js"></script>
  </body>
</html>
