<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/src/output.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@500&family=Oswald:wght@200..700&family=Rowdies:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Adatkezelési tájékoztató</title>
  </head>
  <body class="font-roboto">
    <section>
      <h1>Adatkezelési Tájékoztató</h1>
      <h2>Bevezetés</h2>
      <p>A [Cégnév] (székhely: [Székhely cím], elérhetőség: [Email cím], [Telefonszám]) adatkezelőként elkötelezett az Ön személyes adatainak védelme iránt.</p>

      <h2>Kezelt adatok</h2>
      <p>Az általunk kezelt személyes adatok típusai: név, cím, email cím, telefonszám, IP cím, stb.</p>

      <h2>Az adatkezelés célja és jogalapja</h2>
      <p>Az adatokat az alábbi célokra kezeljük: [célok felsorolása]. Az adatkezelés jogalapja: [jogalapok felsorolása].</p>

      <h2>Adatkezelés időtartama</h2>
      <p>A személyes adatokat a szükséges ideig tároljuk: [időtartam vagy kritériumok].</p>

      <h2>Az adatokhoz való hozzáférés</h2>
      <p>Az adatokhoz az alábbiak férhetnek hozzá: [hozzáférők felsorolása], adatfeldolgozók és további címzettek: [adatfeldolgozók és címzettek felsorolása].</p>

      <h2>Az érintettek jogai</h2>
      <p>Ön jogosult az alábbiakra: tájékoztatás joga, hozzáférés joga, helyesbítés joga, törlés joga, adatkezelés korlátozásának joga, adathordozhatóság joga, tiltakozás joga, automatizált döntéshozatal elkerülése.</p>

      <h2>Panasztételi jog</h2>
      <p>Ön jogosult panaszt benyújtani a helyi adatvédelmi hatósághoz: [hatóság neve és elérhetőségei].</p>

      <h2>Adatbiztonság</h2>
      <p>Az adatok biztonságát az alábbi technikai és szervezési intézkedésekkel biztosítjuk: [intézkedések rövid ismertetése].</p>

      <h2>Sütik és egyéb követési technológiák</h2>
      <p>A weboldalunk sütiket használ: [sütik leírása és felhasználói jogok].</p>

      <h2>Harmadik országba történő adattovábbítás</h2>
      <p>Az adatokat az alábbi harmadik országba továbbítjuk: [országok felsorolása és garanciák ismertetése].</p>

      <h2>Adatkezelési tájékoztató módosítása</h2>
      <p>A tájékoztatót időről időre módosíthatjuk. A változásokról értesítjük Önt: [értesítési módok].</p>
  </section>
  </body>
</html>
