<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/src/output.css" rel="stylesheet" />
    <title>Szerviz</title>
  </head>

  <body>
    <header>
      <div
        class="overlay fixed hidden md:hidden w-full h-full top-0 left-0 right-0 bottom-0 bg-slate-400 opacity-50 z-100 cursor-pointer"
      ></div>
      <nav class="flex h-24 items-center z-100 bg-white text-primary">
        <div class="w-2/4 m-auto">
          <a href="../index.html">
            <img src="../assets/logo.png" alt="" class="min-w-52 h-16" />
          </a>
        </div>
        <div class="z-100 bg-none w-full">
          <ul class="justify-evenly hidden md:flex w-full">
            <a href="./components/machines.html">
              <div
                class="z-20 group relative p-3 text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <a href="../components/machines.html">
                  <span>Gépek</span>
                </a>
                <div
                  class="absolute left-0 w-64 mt-3 origin-top-left bg-white divide-y divide-gray-100 rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition duration-300"
                >
                  <div class="py-1">
                    <a
                      href="./machineGroups/bendingMachines.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Élhajlító gépek</a
                    >
                    <a
                      href="./machineGroups/plateCutters.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Lemezvágó ollók</a
                    >
                    <a
                      href="./machineGroups/2DlaserCutters.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >2D-Lézervágógépek</a
                    >
                    <a
                      href="./machineGroups/3DlaserCutters.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >3D-Lézervágógépek</a
                    >
                    <a
                      href="./machineGroups/laserBeams.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Lézersugaras csövágó gépek</a
                    >
                    <a
                      href="./machineGroups/laserWelders.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Lézerhegesztő gépek</a
                    >
                  </div>
                </div>
              </div>
            </a>
            <div
              class="z-20 group relative p-3 text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
            >
              <a href="../components/parts.html">
                <span>Alkatrészek</span>
              </a>
              <div
                class="absolute left-0 w-64 mt-3 origin-top-left bg-white divide-y divide-gray-100 rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition duration-300"
              >
                <div class="py-1">
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                    >Lézer kopó alkatrészek</a
                  >
                
                </div>
              </div>
            </div>
            <div
              class="relative p-3 text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
            >
              <a href="./service.html">
                <span>Szerviz</span>
              </a>
            </div>
            <div
              class="relative p-3 text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
            >
              <span>Kapcsolat</span>
            </div>
            <div
              class="relative p-3 text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
            >
              <a href="./emailSender.html">
                <span>Ajánlatkérés</span>
              </a>
            </div>
          </ul>
        </div>
        <div class="flex flex-col md:hidden">
          <div class="flex flex-col justify-center">
            <div class="relative py-3 sm:max-w-xl mx-auto">
              <nav x-data="{ open: false }">
                <button
                  id="menuButton"
                  class="tham w-14 h-14 relative focus:outline-none bg-teal-600 rounded"
                  @click="open = !open"
                >
                  <div
                    class="block w-5 absolute left-6 top-1/2 transform -translate-x-1/2 -translate-y-1/2"
                  >
                    <span
                      class="block absolute h-0.5 w-7 text-white bg-current transform transition duration-500 ease-in-out"
                      :class="{'rotate-45': open,' -translate-y-1.5': !open }"
                    ></span>
                    <span
                      class="block absolute h-0.5 w-5 text-white bg-current transform transition duration-500 ease-in-out"
                      :class="{'opacity-0': open } "
                    ></span>
                    <span
                      class="block absolute h-0.5 w-7 text-white bg-current transform transition duration-500 ease-in-out"
                      :class="{'-rotate-45': open, ' translate-y-1.5': !open}"
                    ></span>
                  </div>
                </button>
              </nav>
            </div>
          </div>
          <div
            class="thamnav z-20 hidden flex-col bg-secondary shadow-2xl w-80 h-96 text-center fixed left-1/2 transform -translate-x-1/2 top-1/2 -translate-y-1/2"
          >
            <ul class="flex flex-col h-full justify-evenly md:flex-row">
              <a href="./components/machines.html">
                <div
                  class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
                >
                  <a href="../components/machines.html">
                    <span>Gépek</span>
                  </a>
                </div>
              </a>
              <div
                class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <a href="./parts.html">
                  <span>Alkatrészek</span>
                </a>
              </div>
              <div
                class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <a href="./service.html">
                  <span>Szerviz</span>
                </a>
              </div>
              <div
                class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <span>Kapcsolat</span>
              </div>
              <div
                class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <a href="./emailSender.html">
                  <span>Ajánlatkérés</span>
                </a>
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- hero seciton -->
    <div class="relative w-full h-[320px]" id="home">
      <div class="absolute inset-0 opacity-70">
        <img
          src="../assets/service/service-0.png"
          alt="Background Image"
          class="object-cover object-bottom w-full h-full"
        />
      </div>
      <div
        class="absolute inset-9 flex flex-col md:flex-row items-center justify-between"
      >
        <div class="md:w-1/2 mb-4 md:mb-0">
          <h1
            class="text-grey-700 font-medium text-4xl md:text-5xl leading-tight mb-2"
          >
            Gránit-mill szerviz
          </h1>
          <p class="font-regular text-xl mb-8 mt-4">
            Precíz szerviz minden gépedhez
          </p>
          <a
            href="./emailSender.html"
            class="px-6 py-3 bg-[#c8a876] text-white font-medium rounded-full hover:bg-[#c09858] transition duration-200"
            >Kérj ajánlatot</a
          >
        </div>
      </div>
    </div>

    <!-- our services section -->
    <section class="py-10" id="services">
      <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center">
          Rólunk
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <div class="bg-white rounded-lg shadow-md overflow-hidden">
            <img
              src="../assets/service/service-1.png"
              alt="gránit-mill szerviz"
              class="w-full h-64 object-cover"
            />
            <div class="p-6 text-center">
              <h3 class="text-xl font-medium text-gray-800 mb-2">Precizitás</h3>
              <p class="text-gray-700 text-base">
                Cégünk minden javítást és karbantartást a legmagasabb szintű
                pontossággal végez el, biztosítva, hogy a gépek tökéletesen
                működjenek.
              </p>
            </div>
          </div>
          <div class="bg-white rounded-lg shadow-md overflow-hidden">
            <img
              src="../assets/service/service-2.png"
              alt="Coffee"
              class="w-full h-64 object-cover"
            />
            <div class="p-6 text-center">
              <h3 class="text-xl font-medium text-gray-800 mb-2">
                Megbízhatóság
              </h3>
              <p class="text-gray-700 text-base">
                Az ügyfelek mindig biztosak lehetnek abban, hogy a cég által
                végzett munkák tartósak és hosszú távon megbízhatók.
              </p>
            </div>
          </div>
          <div class="bg-white rounded-lg shadow-md overflow-hidden">
            <img
              src="../assets/service/service-3.png"
              alt="Coffee"
              class="w-full h-64 object-cover"
            />
            <div class="p-6 text-center">
              <h3 class="text-xl font-medium text-gray-800 mb-2">
                Szakértelem
              </h3>
              <p class="text-gray-700 text-base">
                Cégünk szakértő csapata mélyreható ismeretekkel rendelkezik a
                különböző géptípusok működéséről és javításáról, garantálva a
                hatékony megoldásokat.
              </p>
            </div>
          </div>
          <div class="bg-white rounded-lg shadow-md overflow-hidden">
            <img
              src="../assets/service/service-4.png"
              alt="Coffee"
              class="w-full h-64 object-cover"
            />
            <div class="p-6 text-center">
              <h3 class="text-xl font-medium text-gray-800 mb-2">Gyorsaság</h3>
              <p class="text-gray-700 text-base">
                Cégünk gyorsan reagál a problémákra, és hatékonyan oldja meg a
                géphibákat, minimalizálva a leállási időt.
              </p>
            </div>
          </div>
          <!-- special card -->
          <div
            class="bg-white rounded-lg bg-gradient-to-tr p-0.5 shadow-lg overflow-hidden min-h-full"
          >
            <img
              src="../assets/service/service-5.png"
              alt="Coffee"
              class="w-full h-64 object-cover rounded-t-lg"
            />
            <div class="p-6 bg-white text-center rounded-b-lg md:min-h-full">
              <h3 class="text-xl font-medium text-gray-800 mb-2">
                Professzionalizmus
              </h3>
              <p class="text-gray-700 text-base">
                Cégünk minden munkáját magas szintű szakmai hozzáértéssel és
                etikai normákkal végzi, biztosítva a kiváló minőséget.
              </p>
            </div>
          </div>

          <div class="bg-white rounded-lg shadow-md overflow-hidden">
            <img
              src="../assets/service/service-6.png"
              alt="papad"
              class="w-full h-64 object-cover"
            />
            <div class="p-6 text-center">
              <h3 class="text-xl font-medium text-gray-800 mb-2">Pontosság</h3>
              <p class="text-gray-700 text-base">
                A javítások során minden részletre figyelmet fordítanak, hogy a
                gépek működése zökkenőmentes és problémamentes legyen.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- about us -->

    <!-- why us  -->
    <section class="text-gray-700 body-font mt-10">
      <div
        class="flex justify-center text-3xl font-bold text-gray-800 text-center"
      >
        Miért mi?
      </div>
      <div class="container px-5 py-12 mx-auto">
        <div class="flex flex-wrap text-center justify-center">
          <div class="p-4 md:w-1/4 sm:w-1/2">
            <div
              class="px-4 py-6 transform transition duration-500 hover:scale-110"
            >
              <div class="flex justify-center">
                <img
                  src="https://image3.jdomni.in/banner/13062021/58/97/7C/E53960D1295621EFCB5B13F335_1623567851299.png?output-format=webp"
                  class="w-32 mb-3"
                />
              </div>
              <h2 class="title-font font-regular text-2xl text-gray-900">
                Innováció
              </h2>
            </div>
          </div>

          <div class="p-4 md:w-1/4 sm:w-1/2">
            <div
              class="px-4 py-6 transform transition duration-500 hover:scale-110"
            >
              <div class="flex justify-center">
                <img
                  src="https://image2.jdomni.in/banner/13062021/3E/57/E8/1D6E23DD7E12571705CAC761E7_1623567977295.png?output-format=webp"
                  class="w-32 mb-3"
                />
              </div>
              <h2 class="title-font font-regular text-2xl text-gray-900">
                Költséghatékonyság
              </h2>
            </div>
          </div>

          <div class="p-4 md:w-1/4 sm:w-1/2">
            <div
              class="px-4 py-6 transform transition duration-500 hover:scale-110"
            >
              <div class="flex justify-center">
                <img
                  src="https://image3.jdomni.in/banner/13062021/16/7E/7E/5A9920439E52EF309F27B43EEB_1623568010437.png?output-format=webp"
                  class="w-32 mb-3"
                />
              </div>
              <h2 class="title-font font-regular text-2xl text-gray-900">
                Gyorsaság
              </h2>
            </div>
          </div>

          <div class="p-4 md:w-1/4 sm:w-1/2">
            <div
              class="px-4 py-6 transform transition duration-500 hover:scale-110"
            >
              <div class="flex justify-center">
                <img
                  src="https://image3.jdomni.in/banner/13062021/EB/99/EE/8B46027500E987A5142ECC1CE1_1623567959360.png?output-format=webp"
                  class="w-32 mb-3"
                />
              </div>
              <h2 class="title-font font-regular text-2xl text-gray-900">
                Szaktudás
              </h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- gallery -->

    <section>
      <div
        class="bg-white dark:bg-gray-800  h-full py-6 sm:py-8 lg:py-12"
      >
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
          <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
            <!-- image - start -->
            <a
              href="#"
              class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80"
            >
              <img
                src="../assets/service/service-0.png"
                loading="lazy"
                alt="Photo by Minh Pham"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
              />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
              ></div>
            </a>
            <!-- image - end -->

            <!-- image - start -->
            <a
              href="#"
              class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80"
            >
              <img
                src="../assets/service/service-2.png"
                loading="lazy"
                alt="Photo by Magicle"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
              />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
              ></div>
            </a>
            <!-- image - end -->

            <!-- image - start -->
            <a
              href="#"
              class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80"
            >
              <img
                src="../assets/service/service-3.png"
                loading="lazy"
                alt="Photo by Martin Sanchez"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
              />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
              ></div>
            </a>
            <!-- image - end -->

            <!-- image - start -->
            <a
              href="#"
              class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80"
            >
              <img
                src="../assets/service/service-6.png"
                loading="lazy"
                alt="Photo by Lorenzo Herrera"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
              />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
              ></div>
            </a>
            <!-- image - end -->
          </div>
        </div>
      </div>
    </section>


    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <script src="../../scripts/main.js"></script>
  </body>
</html>
