<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/src/output.css" rel="stylesheet" />
    <title>Heavy Duty</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
      .striped-background {
        background-image: url('../../assets/bg.svg');
        background-color: rgba(0, 0, 0, 0.1);
        background-blend-mode: darken;
      }
    </style>
  </head>
  <body
    class="font-roboto striped-background body box-border w-full md:overflow-auto"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="arrowUp fixed right-4 bottom-4 text-secondary rounded-xl size-10 z-10 cursor-pointer"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12"
      />
    </svg>

    <header>
      <div
        class="overlay fixed hidden md:hidden w-full h-full top-0 left-0 right-0 bottom-0 bg-slate-400 opacity-50 z-100 cursor-pointer"
      ></div>
      <nav class="flex h-24 items-center z-20 bg-white text-primary">
        <div class="w-2/4 m-auto">
          <a href="../../index.html">
            <img
              src="../../assets/logo.png"
              alt="adira élhajlító"
              class="min-w-52 h-16"
            />
          </a>
        </div>
        <div class="z-20 bg-none w-full">
          <ul class="text-xl justify-evenly hidden md:flex w-full">
            <a href="../termekek.html">
              <div
                class="group relative p-3 text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <span>Termékek</span>
                <div
                  class="absolute left-0 w-64 mt-3 origin-top-left bg-white divide-y divide-gray-100 rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition duration-300"
                >
                  <div class="py-1">
                    <a
                      href="../machineGroups/hajlitogepek.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Élhajlító gépek</a
                    >
                    <a
                      href="../machineGroups/lemezvago-ollok.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Lemezvágó ollók</a
                    >
                    <a
                      href="../machineGroups/2D-lezervagogepek.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >2D-Lézervágógépek</a
                    >
                    <a
                      href="../machineGroups/3D-lezervagogepek.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >3D-Lézervágógépek</a
                    >
                    <a
                      href="../machineGroups/lezersugaras-csovagogepek.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Lézersugaras csövágó gépek</a
                    >
                    <a
                      href="../machineGroups/lezerhegeszto-gepek.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Lézerhegesztő gépek</a
                    >
                  </div>
                </div>
              </div>
            </a>
            <div
              class="z-20 group relative p-3 text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
            >
              <a href="../alkatreszek.html">
                <span>Alkatrészek</span>
              </a>
              <div
                class="absolute left-0 w-64 mt-3 origin-top-left bg-white divide-y divide-gray-100 rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition duration-300"
              >
                <div class="py-1">
                  <a
                    href="./alkatreszek.html"
                    class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                    >Lézer kopó alkatrészek</a
                  >
                </div>
              </div>
            </div>
            <div
              class="relative p-3 text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
            >
              <a href="../ajanlatkeres.html">
                <span>Ajánlatkérés</span>
              </a>
            </div>
            <div
              class="relative p-3 text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
            >
              <span>Kapcsolat</span>
            </div>
          </ul>
        </div>
        <div class="flex flex-col md:hidden">
          <div class="flex flex-col justify-center">
            <div class="relative py-3 sm:max-w-xl mx-auto">
              <nav x-data="{ open: false }">
                <button
                  id="menuButton"
                  class="tham w-14 h-14 relative focus:outline-none bg-teal-600 rounded"
                  @click="open = !open"
                >
                  <div
                    class="block w-5 absolute left-6 top-1/2 transform -translate-x-1/2 -translate-y-1/2"
                  >
                    <span
                      class="block absolute h-0.5 w-7 text-white bg-current transform transition duration-500 ease-in-out"
                      :class="{'rotate-45': open,' -translate-y-1.5': !open }"
                    ></span>
                    <span
                      class="block absolute h-0.5 w-5 text-white bg-current transform transition duration-500 ease-in-out"
                      :class="{'opacity-0': open } "
                    ></span>
                    <span
                      class="block absolute h-0.5 w-7 text-white bg-current transform transition duration-500 ease-in-out"
                      :class="{'-rotate-45': open, ' translate-y-1.5': !open}"
                    ></span>
                  </div>
                </button>
              </nav>
            </div>
          </div>
          <div
            class="thamnav z-20 hidden flex-col bg-secondary shadow-2xl w-80 h-96 text-center fixed left-1/2 transform -translate-x-1/2 top-1/2 -translate-y-1/2"
          >
            <ul class="flex flex-col h-full justify-evenly md:flex-row">
              <a href="../termekek.html">
                <div
                  class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
                >
                  <span>Termékek</span>
                </div>
              </a>
              <div
                class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <a href="../alkatreszek.html">
                  <span>Alkatrészek</span>
                </a>
              </div>
              <div
                class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <span>Kapcsolat</span>
              </div>
              <div
                class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <a href="../ajanlatkeres.html">
                  <span>Ajánlatkérés</span>
                </a>
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section>
      <ul
        class="ml-6 gap-4 items-center font-medium text-sm flex dark:text-white"
      >
        <li>
          <a href="../termekek.html" class="text-primary"> Termékek </a>
        </li>

        <li
          class="h-6 border-r border-gray-300 -skew-x-12 dark:border-gray-500"
        ></li>

        <li>
          <a href="../machineGroups/hajlitogepek.html" class="text-primary">
            Élhajlító gépek
          </a>
        </li>

        <li
          class="h-6 border-r border-gray-300 -skew-x-12 dark:border-gray-500"
        ></li>

        <li>
          <a href="" class="text-gray-500 dark:text-gray-400"> Heavy Duty </a>
        </li>
      </ul>
    </section>
    <section
      class="sm:mt-6 lg:mt-8 mt-12 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8"
    >
      <div
        class="my-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28 flex gap-3 lg:flex-justify lg:flex flex-col lg:flex-row"
      >
        <div class="sm:text-center lg:text-left lg:w-1/2">
          <h1
            class="flex flex-col text-4xl tracking-tight font-extrabold text-gray-800 sm:text-5xl md:text-6xl"
          >
            <span class="block xl:inline text-primary">Adira PH</span>
            <span class="block text-secondary xl:inline">Heavy Duty</span>
          </h1>
          <p
            class="mt-3 text-base text-primary sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
          >
            Ez a megbízható gép hidraulikus és élt hajlít. WOW!
          </p>
          <!-- Button Section -->
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div
              class="m-auto sm:w-2/4 rounded-md shadow text-gray-800 bg-indigo-100 hover:bg-indigo-200"
            >
              <a
                href="../machineGroups/hajlitogepek.html"
                class="w-full flex flex-col items-center justify-center py-3 border border-transparent text-base font-medium rounded-md md:text-lg"
              >
                Vissza a többi géphez
              </a>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3 sm:w-2/4 h-[54px]">
              <button
                class="text-red px-8 h-full md:text-lg md:px-10 hover:before:bg-redborder-red-500 rounded-md relative w-full overflow-hidden border border-secondary bg-white text-secondary shadow-2xl transition-all before:absolute before:bottom-0 before:left-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-secondary before:transition-all before:duration-500 hover:text-primary hover:before:left-0 hover:before:w-full"
              >
                <span class="relative z-10"
                  ><a href="../ajanlatkeres.html?selected=Élhajlító gépek"
                    >Kérjen ajánlatot</a
                  ></span
                >
              </button>
            </div>
          </div>
          <!-- End of Button Section -->
        </div>

        <!--   Image Section     -->
        <div class="lg:inset-y-0 lg:right-0 lg:w-1/2 my-4">
          <img
            class="rounded-xl h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
            src="../../assets/Adira/adira-PH-front.png"
            alt=""
          />
        </div>
        <!--   End of Image Section     -->
      </div>
    </section>

    <div
      class="relative overflow-hidden bg-gray-900 pt-16 pb-32 space-y-24 mt-24"
    >
      <div class="relative">
        <div
          class="px-4 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-14"
        >
          <div
            class="mx-auto max-w-xl px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0"
          >
            <div>
              <div>
                <h2 class="text-3xl font-bold tracking-tight text-white">
                  Erő és sokoldalúság
                </h2>
                <p class="mt-4 text-lg text-gray-300">
                  Akár 20000 kN hajlítási kapacitással és akár 8 méter
                  hosszúsággal (a Tandem megoldásokkal nagyobb hosszúság is
                  elérhető). A kötény helyzetét a szerkezet végein elhelyezett
                  lineáris felvevő vonalzók segítségével folyamatosan
                  ellenőrzik, biztosítva a kötény pozícionálásának 0,01 mm-es
                  ismétlési pontosságát. Ezek a gépek mélyhajlításra is képesek.
                  Egy olyan megoldás, amely megfelel ügyfeleink legigényesebb
                  követelményeinek.
                </p>
              </div>
            </div>
          </div>
          <div class="mt-12 sm:mt-16 lg:mt-0">
            <div
              class="flex justify-center lg:relative lg:m-0 lg:h-full lg:px-0"
            >
              <div class="flex flex-col justify-center">
                <img
                  loading="lazy"
                  width="647"
                  height="486"
                  class="mx-auto rounded-xl shadow-2xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-auto items-center w-auto max-w-full"
                  style="color: transparent"
                  src="../../assets/Adira/adira-PH-1.png"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="relative">
        <div
          class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8"
        >
          <div
            class="mx-auto max-w-xl px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0 lg:col-start-2"
          >
            <div>
              <div>
                <h2 class="text-3xl font-bold tracking-tight text-white">
                  Főbb jellemzők
                </h2>
                <p class="mt-4 text-lg text-gray-300">
                  Négypontos vezetőrendszer alacsony karbantartási igényekkel és
                  a szerszámok közötti garantáltan megfelelő igazítással;
                </p>

                <p class="mt-4 text-lg text-gray-300">
                  Köténydőlés a kúpos hajlításhoz és nagyon nagy megközelítési
                  sebesség;
                </p>
                <p class="mt-4 text-lg text-gray-300">
                  Speciális CNC-vezérlés (a párhuzamosság és a hajlítási mélység
                  szabályozása);
                </p>
                <p class="mt-4 text-lg text-gray-300">
                  Optoelektronikus védelmi rendszer immateriális korlátok vagy
                  lézersugár formájában;
                </p>
                <p class="mt-4 text-lg text-gray-300">
                  Nagy nyílás, hosszú löket és mély gödör.
                </p>
              </div>
            </div>
          </div>
          <div class="mt-12 sm:mt-16 lg:mt-0">
            <div
              class="flex justify-center lg:relative lg:m-0 lg:h-full lg:px-0"
            >
              <div class="flex flex-col justify-center">
                <img
                  alt="Inbox user interface"
                  loading="lazy"
                  width="647"
                  height="486"
                  class="mx-auto rounded-xl shadow-2xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-auto items-center w-auto max-w-full"
                  style="color: transparent"
                  src="../../assets/Adira/adira-PH-2.png"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="relative">
        <div
          class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8"
        >
          <div
            class="mx-auto max-w-xl px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0"
          >
            <div>
              <div>
                <h2 class="text-3xl font-bold tracking-tight text-white">
                  Az Adira PH előnyei
                </h2>
                <p class="mt-4 text-lg text-gray-300">
                  Ezek a gépek lehetővé teszik a hajlítási mélység egyszerű
                  beállítását (a lemezre terhelt köténynél) és a mozgó kötény
                  elektrohidraulikus szinkronizálását (Y1 és Y2 tengelyek).
                </p>
              </div>
            </div>
          </div>
          <div class="mt-12 sm:mt-16 lg:mt-0">
            <div
              class="flex justify-center lg:relative lg:m-0 lg:h-full lg:px-0"
            >
              <div class="flex flex-col justify-center">
                <img
                  loading="lazy"
                  width="647"
                  height="486"
                  class="mx-auto rounded-xl shadow-2xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-auto items-center w-auto max-w-full"
                  style="color: transparent"
                  src="../../assets/Adira/adira-PH-3.png"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <script src="../../scripts/main.js"></script>
  </body>
</html>
