<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/src/output.css" rel="stylesheet" />
    <title>Hidraulikus élhajlító</title>
    <style>
      .striped-background {
        background-image: url('../../assets/bg.png');
      }
    </style>
  </head>
  <body class="striped-background box-border w-full md:overflow-auto">
    <header>
      <div
        class="overlay fixed hidden md:hidden w-full h-full top-0 left-0 right-0 bottom-0 bg-slate-400 opacity-50 z-100 cursor-pointer"
      ></div>
      <nav class="flex h-24 items-center z-20 bg-white text-primary">
        <div class="w-2/4 m-auto">
          <a href="../../index.html">
            <img
              src="../../assets/logo.png"
              alt="adira élhajlító"
              class="min-w-52 h-16"
            />
          </a>
        </div>
        <div class="z-20 bg-none w-full">
          <ul class="justify-evenly hidden md:flex w-full">
            <a href="../machines.html">
              <div
                class="group relative p-3 text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <span>Gépek</span>
                <div
                  class="absolute left-0 w-64 mt-3 origin-top-left bg-white divide-y divide-gray-100 rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition duration-300"
                >
                  <div class="py-1">
                    <a
                      href="./hydraulicBender.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Hidraulikus élhajlító</a
                    >
                    <a
                      href="./hybridBender.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Hybrid élhajlító</a
                    >
                    <a
                      href="./electricBender.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Elektromos élhajlító</a
                    >
                    <a
                      href="./automation.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Automatizálás</a
                    >
                    <a
                      href="./heavy-duty.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Heavy Duty</a
                    >
                    <a
                      href="./tandem.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Tandem</a
                    >
                    <a
                      href="./hydraulicPlateCutter.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >Hidraulikus lemezvágó</a
                    >
                    <a
                      href="./boltSeries.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >BOLT Series 10-60 kW</a
                    >
                    <a
                      href="./swingSeries.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >SWING Series 1-12 kW</a
                    >
                    <a
                      href="./awingSeries.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >AWING Series 1-20 kW</a
                    >
                    <a
                      href="./bullSeries.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >BULL Series 2-60 kW</a
                    >
                    <a
                      href="./ganHSeries.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >GAN-H Series 1-4 kW</a
                    >
                    <a
                      href="./swanHWSeries.html"
                      class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                      >SWAN HW Series 1-2 kW</a
                    >
                  </div>
                </div>
              </div>
            </a>
            <div
              class="z-20 group relative p-3 text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
            >
              <a href="../parts.html">
                <span>Alkatrészek</span>
              </a>
              <div
                class="absolute left-0 w-64 mt-3 origin-top-left bg-white divide-y divide-gray-100 rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition duration-300"
              >
                <div class="py-1">
                  <a
                    href="./parts.html"
                    class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                    >Lézervágó alkatrészek</a
                  >
                  <a
                    href="./parts.html"
                    class="block px-4 py-2 text-sm text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400"
                    >Élhajlító szerszámok</a
                  >
                </div>
              </div>
            </div>
            <div
              class="relative p-3 text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
            >
              <span>Szerviz</span>
            </div>
            <div
              class="relative p-3 text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
            >
              <span>Kapcsolat</span>
            </div>
            <div
              class="relative p-3 text-primary hover:text-secondary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
            >
              <a href="../emailSender.html">
                <span>Ajánlatkérés</span>
              </a>
            </div>
          </ul>
        </div>
        <div class="flex flex-col md:hidden">
          <div class="flex flex-col justify-center">
            <div class="relative py-3 sm:max-w-xl mx-auto">
              <nav x-data="{ open: false }">
                <button
                  id="menuButton"
                  class="tham w-14 h-14 relative focus:outline-none bg-teal-600 rounded"
                  @click="open = !open"
                >
                  <div
                    class="block w-5 absolute left-6 top-1/2 transform -translate-x-1/2 -translate-y-1/2"
                  >
                    <span
                      class="block absolute h-0.5 w-7 text-white bg-current transform transition duration-500 ease-in-out"
                      :class="{'rotate-45': open,' -translate-y-1.5': !open }"
                    ></span>
                    <span
                      class="block absolute h-0.5 w-5 text-white bg-current transform transition duration-500 ease-in-out"
                      :class="{'opacity-0': open } "
                    ></span>
                    <span
                      class="block absolute h-0.5 w-7 text-white bg-current transform transition duration-500 ease-in-out"
                      :class="{'-rotate-45': open, ' translate-y-1.5': !open}"
                    ></span>
                  </div>
                </button>
              </nav>
            </div>
          </div>
          <div
            class="thamnav z-20 hidden flex-col bg-secondary shadow-2xl w-80 h-96 text-center fixed left-1/2 transform -translate-x-1/2 top-1/2 -translate-y-1/2"
          >
            <ul class="flex flex-col h-full justify-evenly md:flex-row">
              <a href="./components/machines.html">
                <div
                  class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
                >
                  <span>Gépek</span>
                </div>
              </a>
              <div
                class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <a href="./components/parts.html">
                  <span>Alkatrészek</span>
                </a>
              </div>
              <div
                class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <span>Szerviz</span>
              </div>
              <div
                class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <span>Kapcsolat</span>
              </div>
              <div
                class="relative p-3 text-primary hover:text-primary font-bold cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]"
              >
                <a href="./components/emailSender.html">
                  <span>Ajánlatkérés</span>
                </a>
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section
      class="sm:mt-6 lg:mt-8 mt-12 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8"
    >
      <div
        class="my-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28 flex gap-3 lg:flex-justify lg:flex flex-col lg:flex-row"
      >
        <div class="sm:text-center lg:text-left">
          <h1
            class="flex flex-col text-4xl tracking-tight font-extrabold text-gray-800 sm:text-5xl md:text-6xl"
          >
            <span class="block xl:inline text-primary">Adira PA</span>
            <span class="block text-secondary xl:inline"
              >Hidraulikus élhajlító</span
            >
          </h1>
          <p
            class="mt-3 text-base text-primary sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
          >
            Ez a megbízható gép hidraulikus és élt hajlít. WOW!
          </p>
          <!-- Button Section -->
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <a
                href="../machines.html"
                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-gray-800 bg-indigo-100 hover:bg-indigo-200 md:py-4 md:text-lg md:px-10"
              >
                Vissza a többi géphez
              </a>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <a
                href="../emailSender.html"
                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-secondary hover:bg-gray-600 md:py-4 md:text-lg md:px-10"

              >
                Kérjen ajánlatot
              </a>
            </div>
          </div>
          <!-- End of Button Section -->
        </div>

        <!--   Image Section     -->
        <div class="lg:inset-y-0 lg:right-0 lg:w-1/2 my-4">
          <img
            class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
            src="../../assets/Adira/adira-PA-front.png"
            alt=""
          />
        </div>
        <!--   End of Image Section     -->
      </div>
    </section>
  </body>
</html>
